<% provide(:title,"Start") %>
<% provide(:active_for_header,"home") %>

<h3>I warmly welcome</h3>
<p>Page under construction until I can write it in Ruby on Rails</p>
<p>Application Repository can be found at <%= link_to "link", "https://github.com/Morgothdev/cv_app" %>.</p>
