<% provide(:title,"Start") %>
<% provide(:active_for_header,"home") %>

<h3>Witam serdecznie</h3>
<p> Strona w budowie tak długo, aż uda mi się ją napisać w Ruby on Rails lub z użyciem innej technologii</p>
<p> Repozytorium aplikacji można znaleźć pod <a href="https://github.com/Morgothdev/cv_app">linkiem</a></p> 
