<% provide(:title,"Portfolio") %>
<% provide(:active_for_header,"portfolio") %>

<div>
    <h3>My projects</h3>
</div>

<% if signed_in? %>
    <div class="pull-right">
        <%= button_to "Add new project", action: "new" %>
    </div>
<% end %>

<div  class="bs-docs-grid">
    <%= render 'portfolios/portfolio' %>
</div
