<% provide(:title,"About Me") %>
<% provide(:active_for_header,"aboutme") %>
<h1>About Me</h1>

<p>My name is Mateusz Jaje,</p>

<p>I'm a student of three years at the Faculty of Computer Science, Electronics and Telecommunications at the University of Science and Technology.</p>

<p>I write:
    <ul>
        <li>in Java, a number of projects, not just academic</li>
        <li>C - several projects, including Network</li>
        <li>the rails, this site presents these skills are</li>
        <li>and some in T-SQL, Python, Erlang</li>
    <ul>
</p>